<div class="modal-header">
  <h4>Condiciones Generales de Venta</h4>
  <button type="button" class="close" data-dismiss="modal" class="btn btn-danger" aria-label="Close"
    (click)="activeModal.dismiss('Crosss click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <h1>Condiciones generales de venta</h1>
  <p>
    La adquisición de productos o servicios en este sitio Web está sometida a los siguientes términos y condiciones:
  </p>
  <h2>1. Aceptación y disponibilidad de las Condiciones Generales de Contratación</h2>
  <p>Mediante la aceptación del presente contrato, usted declara:</p>
  <ul>
    <li>
      Que es una persona mayor de edad y con capacidad para contratar.
    </li>
    <li>
      Que ha leído y acepta las presentes condiciones generales.
    </li>
  </ul>
  <p>
    Estas condiciones generales (en adelante, "las Condiciones Generales"), regulan la relación jurídica que emana de
    los procesos de contratación
    realizados entre los usuarios-clientes (en adelante, "los Clientes") de la página Web ubicada en la url
    www.pianohover.com propiedad de PIANOHOVER, S.L., (en adelante, "el Distribuidor").
  </p>
  <p>
    Los Clientes aceptan las Condiciones Generales desde el instante que utilicen o contraten el servicio o adquieran
    cualquier producto.
    Este documento puede ser impreso y almacenado por los Clientes. El Distribuidor pone a disposición de éstos un
    formulario de contacto que será accesible
    al menos desde la página de inicio de este sitio Web, para que puedan plantear cualquier duda acerca de las
    Condiciones Generales.
  </p>
  <h2>2. Normas aplicables</h2>
  <p>
    Las presentes Condiciones Generales, están sujetas a lo dispuesto a la Ley 7/1998, de 13 de abril, sobre Condiciones
    Generales de Contratación,
    a la Ley 3/2014, de 27 de marzo, por la que se modifica el texto refundido de la Ley General para la Defensa de los
    Consumidores y Usuarios y otras leyes complementarias, aprobado por el Real Decreto Legislativo 1/2007, de 16 de
    noviembre, a la Ley 34/2002, de 11 de julio, de servicios de la sociedad de la información y de comercio
    electrónico, Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016, relativo a la
    protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de
    estos datos, Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y garantía de los derechos
    digitales, y a la Ley 7/1996, de 15 de enero de Ordenación del Comercio Minorista.
  </p>
  <p>
    Si usted reside fuera de España y en virtud de su legislación no fuera de aplicación la Legislación española, usted
    no puede contratar
    servicios o adquirir productos en este sitio Web.
  </p>
  <h2>3. Limitación de responsabilidad</h2>
  <p>El Distribuidor realiza la venta de entradas a través de este sitio Web en nombre y por cuenta del Organizador del
    evento.</p>
  <p>
    La responsabilidad frente a los Clientes que pudiera derivarse de la actividad propia de la organización del
    espectáculo, recae de manera exclusiva en el
    Organizador del evento, y en ningún caso será asumida por el Distribuidor.
  </p>
  <h2>4. Cancelaciones y cambios</h2>
  <p>
    Según lo dispuesto en los términos de la legislación vigente en cada caso, una vez adquirida la entrada no será
    cambiada ni devuelto su importe, excepto en los caso de cancelación, suspensión, aplazamiento o modificación
    sustancial del evento.

  </p>
  <p>
    Si llegaran a producirse las circunstancias que motiven la devolución, el Distribuidor informará de las mismas a los
    Clientes, bien de
    forma general a través del sitio Web, o bien de forma directa en los casos en que disponga de una dirección de
    correo electrónico
    de contacto.
  </p>
  <p>
    Las malas condiciones meteorológicas no serán motivo de devolución del importe si estas circunstancias no impiden la
    celebración del evento.
  </p>
  <h2>5. Autenticidad y validez de las entradas</h2>
  <p>
    El Organizador no garantiza la autenticidad de la entrada si no ha sido adquidida en los puntos de venta oficiales.
    Toda entrada enmendada, incompelta o con indicios de falsificación autorizará al Organizador
    a privar del acceso al portador de la misma.
  </p>
  <p>
    Las entradas adquiridas con descuentos especiales dirigidos a colectivos determinados o a grupos de edad concretos,
    solo serán válidas cuando el portador de la misma pertenezca a dicho colectivo, debiendo los Clientes acreditar tal
    condición de manera fehaciente en el momento de acceder al recinto.
  </p>
  <p>
    Las entradas adquiridas en este sitio Web constituyen un documento electrónico, y su autenticidad
    puede estar condicionada a la validación de la misma por medios electrónicos en el acceso al recinto. Cada entrada
    otorga el derecho de acceso a una
    sola persona. El Cliente, junto con el titular de la tarjeta utilizada para el pago, serán responsables
    de forma solidaria ante el Organizador en caso de intento de utilización de dicha entrada por más de una persona u
    otro uso fraudulento
    de las mismas. Los Clientes declaran expresamente que aceptan los métodos de
    validación, y que se atienen a los datos que figuren en los archivos del Organizador o el Distribuidor como única
    fuente de
    información o medio de prueba válidos para la resolución de cualquier discrepancia o duda acerca de la autenticidad
    y validez de las entradas.
  </p>
  <h2>6. Acceso y salida del recinto</h2>
  <p>
    Salvo disposición en contrario por parte del Organizador, la salida del recinto implica la pérdida del derecho a
    entrar nuevamente. El potestad
    del Organizador permitir la entrada una vez comenzado el espectáculo.
  </p>
  <p>
    Se reserva el derecho de admisión, condicionado al hecho de disponer de una entrada válida y de que el portador
    asuma y se obligue a respetar las normas de la Organización y del recinto, así como cualquier condición exigible por
    motivos de seguridad
    general. Los Clientes autorizan al Organizador a efectuar, de acuerdo con la Ley, las revisiones o registros de su
    persona o tenencias para
    verificar que se cumplen las condiciones de seguridad.
  </p>
  <h2>7. Otros términos o condiciones</h2>
  <p>
    En base a la tipología o naturaleza del evento, pueden ser aplicables otros términos o condiciones distintos a los
    aquí
    mencionados, en cuyo caso se pondrá en conocimiento de los clientes durante el proceso de compra de la entrada.
  </p>
  <p>
    Asimismo, estos términos y condiciones pueden verse modificados por la aplicación de cualquier normativa legal
    vigente, ya sea de carácter
    local, regional o estatal, en función de la naturaleza del espectáculo o del recinto.
  </p>


  <h2>8. Modificación de las Condiciones Generales</h2>
  <p>
    El Distribuidor podrá modificar las Condiciones Generales notificándolo a los Clientes con antelación suficiente,
    con el fin de mejorar los servicios
    y productos ofrecidos a través de este sitio Web. Dicho deber de notificación se entenderá por cumplido mediante la
    modificación de las Condiciones Generales
    expuestas en esta página, que podrá ser revisada por los Clientes antes de adquirir las entradas.
  </p>
  <h2>9. Uso del servicio y responsabilidades</h2>
  <p>
    El Distribuidor no garantiza la disponibilidad permanente de los servicios, quedando exonerado por cualquier tipo de
    responsabilidad por posibles
    daños y perjuicios causados debido a la indisponibilidad del servicio por causas de fuerza mayor o errores en las
    redes telemáticas de transferencia
    de datos, ajenos a su voluntad, según la Ley aplicable.
  </p>
  <p>
    El Distribuidor no se hace responsable del contenido de los enlaces a otras páginas Web que no sean titularidad suya
    y que, por tanto, no pueden ser
    controladas por éste.
  </p>
  <h2>10. Notificaciones</h2>
  <p>
    Todas las notificaciones, requerimientos, peticiones y otras comunicaciones que hayan de efectuarse por las partes
    en relación con las presentes
    Condiciones Generales, deberán realizarse por escrito y se entenderá que han sido debidamente realizadas cuando
    hayan sido entregadas en mano o
    bien remitidas por correo ordinario al domicilio de la otra parte o al correo electrónico de ésta, o bien a
    cualquier otro domicilio o correo
    electrónico que a estos efectos cada parte pueda indicar a la otra.
  </p>
  <h2>11. Nulidad o ineficacia de las Cláusulas</h2>
  <p>
    Si cualquier cláusula incluida en estas Condiciones Generales fuese declarada, total o parcialmente, nula o
    ineficaz, tal nulidad o ineficacia
    afectará tan sólo a dicha disposición o a la parte de la misma que resulte nula o ineficaz, subsistiendo las
    Condiciones Generales en todo lo
    demás, teniéndose tal disposición, o la parte de la misma que resultase afectada, por no puesta.
  </p>
  <p><strong>Versión 3.</strong> En vigor desde mayo de 2019</p>

  <button type="button" class="close" data-dismiss="modal" class="btn btn-success" aria-label="Close"
    (click)="activeModal.dismiss('Crosss click')">
    <span aria-hidden="true">✔</span>
  </button>
</div>
