<div class="modal-header">
  <h4>Privacidad</h4>
  <button type="button" class="close" data-dismiss="modal" class="btn btn-danger" aria-label="Close"
    (click)="activeModal.dismiss('Crosss click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <h1>Política de privacidad</h1>
  <p>
    La información proporcionada por los usuarios durante el uso de este sitio Web será tratada de acuerdo a los
    siguientes términos y condiciones:
  </p>
  <h2>Protección de datos de carácter personal</h2>
  <p>
    En el marco del cumplimiento de la legislación vigente, recogida en la Ley Orgánica 15/1999, de 13 de diciembre,
    sobre protección de Datos
    de Carácter Personal (LOPD), cuyo objeto es garantizar y proteger, en lo que concierne al tratamiento de los datos
    personales, las libertades
    y derechos fundamentales de las personas físicas, y especialmente de su honor e intimidad personal, PIANOHOVER,
    S.L. informa a los usuarios
    de que los datos introducidos en los formularios de contacto o en el proceso de compra se almacenarán en ficheros
    propiedad de
    PIANOHOVER, S.L.. CIF P-548264894. Domicilio: C. Albondón, 12, 18003 Granada. Teléfono 958 89 32 30. E-mail:
    pianohover@email.com
  </p>
  <p>
    Asimismo PIANOHOVER, S.L. muestra su compromiso de garantizar
    la máxima confidencialidad y aplicar las medidas técnicas y de seguridad necesarias para evitar el acceso no
    autorizado al mismo según establece la
    normativa vigente en materia de protección de datos.
  </p>
  <h2>Recopilación de datos de carácter personal</h2>
  <p>
    Toda vez que el usuario realice una compra de entradas a través de nuestro sitio web o por vía telefónica,
    recopilaremos y almacenaremos datos de carácter personal al objeto de poder gestionar la prestación de servicios
    requerida.
  </p>
  <p>
    Los datos proporcionados por el usuario (nombre, apellidos, NIF, teléfono y correo electrónico) deben ser exactos y
    veraces, y tienen por objeto identificar al legítimo comprador y garantizar la seguridad de las operaciones, así
    como gestionar adecuadamente el servicio (por ejemplo enviarle las entradas o informarle de la cancelación de un
    evento).
  </p>
  <p>
    PIANOHOVER, S.L. podrá enviarle ocasionalmente mediante correo electrónico, información comercial acerca de eventos
    que se consideren de su interés. Usted podrá oponerse a estas comunicaciones cancelando la suscripción a estos
    correos electrónicos mediante el enlace que a tal efecto se incluye en los mismos.
  </p>



  <h2>Derecho de acceso, rectificación y cancelación</h2>
  <p>
    El titular de los datos tiene el derecho de acceso, rectificación, cancelación y oposición de sus datos. Para
    ejercitar estos derechos, los
    titulares de los datos pueden dirigir una petición escrita por correo postal a la siguiente dirección: C. Albondón, 12, 18003 Granada, o bien enviar la petición
    a través del formulario de contacto disponible en este sitio Web.
  </p>


  <h2>Cesión de datos a terceros</h2>
  <p>
    Se hace constar de forma expresa que la información proporcionada a través de este sitio Web tiene carácter
    voluntario,
    y que los datos pueden ser cedidos a los organizadores de los eventos o a las entidades bancarias encargadas de
    procesar los pagos, al objeto de poder gestionar
    adecuadamente la emisión y el cobro de las entradas adquiridas. De producirse dicha cesión, esta se limitará única y
    exclusivamente a los datos requeridos y en los
    casos necesarios. Asimismo se informa a los usuarios que el contenido de dicha información no será destinado a una
    finalidad distinta para la cual
    fueron cedidos.
  </p>
  <p>
    Sin perjuicio de lo anterior, le informamos asimismo que dichos datos podrían ser cedidos por PIANOHOVER, S.L. o
    por sus colaboradores o asociados,
    a las administraciones públicas correspondientes y en cumplimiento de lo exigido por la legislación tributaria que
    corresponda.
  </p>
  <p>
    PIANOHOVER, S.L., así como sus asociados o colaboradores, se comprometen solidariamente a no vender o transferir la
    información personal recabada
    en sus sitios Web a otras entidades para su utilización sin su aprobación expresa, y ofrecerle la oportunidad de
    ejercer sus derechos de acceso, rectificación, cancelación y oposición.
  </p>
  <h2>Otros datos recopilados</h2>
  <p>
    Los datos de navegación obtenidos durante las solicitudes enviadas por los clientes, pueden determinar la dirección
    IP, el navegador, tipo de dispositivo y sistema operativo utilizado por
    el usuario. Dichos datos podrán ser utilizados con fines exclusivamente estadísticos, o para la resolución de
    incidencias técnicas, aún cuando dichas
    incidencias hubieran sido detectadas por PIANOHOVER, S.L., sin que fuera informada previamente por el usuario.
  </p>
  <h2>Cookies</h2>
  <p>
    Las cookies son fragmentos de texto que se almacenan en su ordenador u otro tipo de dispositivo cuando visita una
    web. Su navegador envía estas cookies de nuevo a la web cada vez que vuelve a visitarla, de tal forma que le
    reconozca y pueda personalizar lo que ve en pantalla. Este sitio web utiliza las siguientes cookies:
  </p>
  <h3>Cookies propias</h3>
  <p>
    <b>ASP.NET_SessionId:</b> Es una cookie que se utiliza para identificarle como usuario durante una sesión de
    navegación. Expira al finalizar la sesión de usuario. Se trata de una cookie técnica estrictamente necesaria para
    poder ofrecer el servicio de venta de entradas. Si opta por desactivar esta cookie, no podrá utilizar nuestros
    servicios.
  </p>
  <h3>Cookies de terceros</h3>
  <p>
    Utilizamos los servicios de <b>Google Analytics</b> para analizar el tráfico de nuestro sitio web. Este servicio
    utiliza cookies de Google para identificarle como usuario y registrar sus visitas a nuestro sitio web, únicamente
    con fines estadísticos. Puede consultar la política de cookies de google <a target="gcookies"
      href="https://policies.google.com/technologies/cookies?hl=es">en este enlace</a>.
  </p>
  <h2>Cambios en la Política de Privacidad de este sitio Web</h2>
  <p>
    PIANOHOVER, S.L. podrá incluir cambios en la Política de Privacidad de este sitio Web. Todos los cambios serán
    puestos a su disposición en
    esta página, para mantener informado al usuario.
  </p>
  <p>
    <b>Versión 2.</b> En vigor desde el 24 de mayo de 2018.
  </p>

  <button type="button" class="close" data-dismiss="modal" class="btn btn-success" aria-label="Close"
    (click)="activeModal.dismiss('Crosss click')">
    <span aria-hidden="true">✔</span>
  </button>
</div>
