<div class="main-admin">
  <app-sidebar-admin></app-sidebar-admin>
  <div class="main-lista">
    <div class="row">
      <div>
        <div class="header-main">
          <h2>
            Listado de todos conciertos publicados
          </h2>
          <div class="scroll-usuarios">

            <table class="table table-striped table-hover fixed-header">

              <thead>
                <th>
                  <div>Nombre</div>
                </th>
                <th>
                  <div>Fecha</div>
                </th>
                <th>
                  <div></div>
                </th>
                <th>
                  <div></div>
                </th>
              </thead>

              <tbody>
                <tr>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                </tr>

                <tr *ngFor="let concierto of conciertos">
                  <td>{{concierto.titulo}}</td>
                  <td>{{concierto.fecha | date: 'yyyy-MM-dd' }}</td>
                  <td>
                    <a routerLink="/administrador/lista-conciertos/" class="btn btn-info m-1">
                      <i class="fa-solid fa-magnifying-glass-plus"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 pb-5">

      <div class="card text-center mb-2">
        <div class="card-header bg-dark d-flex justify-content-between aling-items-center">
          <h4 class="text-white">Concierto más vendido</h4>
        </div>
        <div class="card-body">
          <h4>Nombre:</h4>
          <h4> <strong>{{concierto.titulo}}</strong></h4>
          <h4>Entradas vendidas: <strong>{{cantidad}}</strong></h4>
        </div>
      </div>
    </div>
  </div>
</div>
