<div class="container mt-5 mb-5 ">
  <div class="row">
    <div class="col-md-4 pb-5" *ngFor="let concierto of conciertos">
      <div class="card text-center">
        <div class="card-header bg-dark d-flex justify-content-between aling-items-center">
          <a routerLink="/concierto/{{ concierto.id }}/"><h4 class="text-white">{{ concierto.titulo }}</h4></a>
        </div>
        <img routerLink="/concierto/{{ concierto.id }}" [src]="concierto.imagen == '' ? 'assets/img/noimagen.png' : concierto.imagen" class="card-img-top" alt="orquesta">
        <div class="card-body">
          <strong><p>El {{ concierto.fecha | date: 'yyyy-MM-dd' }}</p></strong>
          <p class="resumen">{{ concierto.descripcion }}</p>
          <a routerLink="/concierto/{{ concierto.id }}" class="btn btn-info btn-block m-4">
            <i class="fa-solid fa-circle-info"></i>
          Más información
          </a>
          <a *ngIf="isAdmin()" routerLink="/conciertos/edit/{{ concierto.id }}" class="btn btn-warning btn-block m-2">
            <i class="fa-solid fa-circle-plus"></i>
            Editar Concierto
          </a>
          <button *ngIf="isAdmin()" class="btn btn-danger btn-block" (click)="eliminarConcierto(concierto.id)">
            <i class="far fa-trash-alt"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
