.container {

  .card-header {
    min-height: 10vh;
    align-items: center;
  }
  a {
    text-decoration: none;
  }
  .card-img-top {
    cursor: pointer;
  }

  .resumen {
    max-height: 20vh;
    overflow: hidden;
  }
}
