<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 offset-md-2">
      <div class="card">
        <div class="card-body">
          <form novalidate #f="ngForm">
            <div class="form-group mb-3">
              <span>Título: *</span>
              <input type="text" [(ngModel)]="concierto.titulo" name="title" placeholder="Título" class="form-control"
                autofocus required>
            </div>
            <div class="form-group mb-3">
              <span>Descripción: *</span>
              <textarea name="description" [(ngModel)]="concierto.descripcion" placeholder="Descripción"
                class="form-control" rows="2" required></textarea>
            </div>
            <div class="form-group mb-3">
              <span>Imagen URL: *</span>
              <input type="url" [(ngModel)]="concierto.imagen" name="imagen" placeholder="Imagen URL"
                class="form-control" required>
            </div>
            <div class="form-group mb-3">
              <span>Fecha del concierto: *</span>
              <input type="date" [(ngModel)]="concierto.fecha" name="fecha" placeholder="Fecha" class="form-control" required>
            </div>
            <div class="form-group mb-3">
              <span>Precion normal: *</span>
              <input type="number" [(ngModel)]="concierto.precioNormal" name="precioNormal" placeholder="Precio Normal"
                class="form-control mb-3" required>
            </div>
            <div class="form-group mb-3">
              <span>Precio VIP: *</span>
              <input type="number" [(ngModel)]="concierto.precioVip" name="precioVIP" placeholder="Precio VIP"
                class="form-control mb-3" required>
            </div>
            <button *ngIf="!f.invalid" (click)="editar ? editarConcierto() : guardarConcierto()" class="btn btn-success btn-block">
              Guardar
            </button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-header bg-dark d-flex justify-content-between aling-items-center">
          <h4 class="text-white">{{concierto.titulo == '' ? 'Título' : concierto.titulo}}</h4>
        </div>
        <img [src]="concierto.imagen == '' ? 'assets/img/noimagen.png' : concierto.imagen" class="card-img-top"
          alt="orquesta">
        <div class="card-body">
          <p>El {{ concierto.fecha | date: 'yyyy-MM-dd' }}</p>
          <p class="resumen">{{concierto.descripcion == '' ? 'Descripción del concierto' : concierto.descripcion}}</p>
          <a routerLink="/conciertos/edit/{{ concierto.id }}" class="btn btn-info btn-block">
            <i class="fa-solid fa-circle-info"></i>
          Más información
          </a>
      </div>
    </div>
  </div>
</div>
