<div class="main-perfil">
  <app-sidebar></app-sidebar>

  <div class="perfil">
    <div class="container mt-5 mb-5">

        <div class="col-md-4 pb-5">

          <div class="card text-center">
            <div class="card-header bg-dark d-flex justify-content-center">
              <h4 class="text-white">sdfsdfsdfsdf</h4>
            </div>

            <div class="card-body">
              <strong><p>El </p></strong>
              <p class="resumen">hkjgiuiu</p>
            </div>
          </div>

        </div>

    </div>
  </div>

</div>
