<div class="main-perfil">
  <app-sidebar></app-sidebar>

  <div class="perfil">
    <div class="d-flex justify-content-center mt-5 mb-5">

        <div class="col-md-4 pb-5">

          <div class="card text-center">
            <div class="card-header bg-dark d-flex justify-content-center">
              <h4 class="text-white">Datos de Usuario</h4>
            </div>

            <div class="card-body">
              <p><strong>Nombre: </strong>{{usuario.nombre}}</p>
              <p><strong>Email: </strong>{{usuario.email}}</p>
              <p><strong>Nombre de usuario: </strong>{{usuario.usuario}}</p>
            </div>
          </div>

        </div>

    </div>
  </div>

</div>
