.main-perfil{
  display: flex;
  overflow: hidden;
}
.perfil {
  width: 100%;
  background-image: url(../../../assets/img/perfil.jpg);
  background-size: contain;
  max-width: 84vw;
  margin: 14px 14px 14px 14px;
  color: #fff;



}
