<div class="main-perfil">
  <app-sidebar></app-sidebar>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div class="card">
          <div class="card-body">
            <form>
              <span><strong>Cambiar datos de usuario:</strong></span>
              <div class="form-group mb-3">
                <span>Nombre completo:</span>
                <input type="text" [(ngModel)]="usuario.nombre" name="nombre" placeholder="{{usuario.nombre}}"
                  class="form-control" autofocus>
              </div>
              <div class="form-group mb-3">
                <span>Email:</span>
                <input type="url" [(ngModel)]="usuario.email" name="email" placeholder="{{usuario.email}}"
                  class="form-control">
              </div>
              <div class="form-group mb-3">
                <span>Nombre usuario:</span>
                <input type="text" [(ngModel)]="usuario.usuario" name="usuario" placeholder="{{usuario.usuario}}"
                  class="form-control mb-3">
              </div>
              <button (click)="editarUsuario()" class="btn btn-success btn-block">
                Guardar
              </button>
            </form>
          </div>

          <div class="card-body" *ngIf="isAdmin()">
              <p><strong>Cambiar ROL:</strong></p>

              <button (click)="setRol(false)" class="btn btn-success btn-block m-1">
                Usuario
              </button>/
              <button (click)="setRol(true)" class="btn btn-danger btn-block">
                Administrador
              </button>
          </div>

        </div>
        <div class="visible card-body">
          <div class="form-group mb-3">
            <span>Nueva contraseña:</span>
            <input type="password" [(ngModel)]="passwordAuth1" name="password" placeholder="******" class="form-control"
              autofocus>
          </div>
          <div class="form-group mb-3">
            <span>Repita la contraseña:</span>
            <input type="password" [(ngModel)]="passwordAuth2" name="passwordAuth" placeholder="******"
              class="form-control" autofocus>
          </div>
          <button (click)="editarPass()" class="btn btn-success btn-block">
            Cambiar
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="none card">
    <span><strong>Cambiar Contraseña</strong></span>
    <div class="card-body">
      <div class="form-group mb-3">
        <span>Nueva contraseña:</span>
        <input type="password" [(ngModel)]="passwordAuth1" name="password" placeholder="******" class="form-control"
          autofocus>
      </div>
      <div class="form-group mb-3">
        <span>Repita la contraseña:</span>
        <input type="password" [(ngModel)]="passwordAuth2" name="passwordAuth" placeholder="******" class="form-control"
          autofocus>
      </div>
      <button (click)="editarPass()" class="btn btn-success btn-block">
        Cambiar
      </button>
    </div>
  </div>
</div>
