.main-perfil{
  display: flex;
  max-height: 100vh;
}
.perfil {
  background-image: url(../../../../assets/img/perfil.jpg);
  background-size: cover;

}
.visible {
  display: none;
}
.card {
  min-width: max-content;
}

@media only screen and (max-width: 666px) {

  .none {
    display: none;
  }
  .visible {
    display: block !important;
    color: #ffffff;
  }
}
