<div class="modal-header">
  <h4>Aviso Legal</h4>
  <button type="button" class="close" data-dismiss="modal" class="btn btn-danger" aria-label="Close"
  (click)="activeModal.dismiss('Crosss click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <h1>Aviso legal</h1>
  <p>
    Según lo dispuesto en el artículo 9 de la Ley 34/2002 de 11 de Julio de Servicios de la Sociedad de la Información
    y Comercio Electrónico,
    se hace constar que el presente sitio Web es propiedad de PIANOHOVER, S.L., sociedad inscrita en el Registro
    Mercantil de Granada. Tomo 1454, Folio 41, Sección 8ª, Hoja GR40945, Inscripción 1ª, y con domicilio social en
    PASEO VIOLON (DEL), 2, 18006 GRANADA
  </p>
  <h2>Usos autorizados</h2>
  <p>
    Este sitio Web está a disposición de los usuarios para consultar información acerca de los eventos disponibles,
    así como
    para realizar la compra de entradas para los mismos de acuerdo a las condiciones aquí estipuladas. La titularidad
    del contenido, software, diseño de esta Web, así como
    los logotipos, marcas comerciales y cualquier otro material gráfico pertenece a sus respectivos propietarios, y
    pueden estar protegidos por copyright.
  </p>
  <h2>Condiciones Generales</h2>
  <p>
    La adquisición de productos o servicios en este sitio Web está sujeto a la aceptación de los términos establecidos
    en las Condiciones Generales.
    Dichos términos y condiciones están a disposición del usuario a través del enlace correspondiente, que está
    disponible al menos en la(s) página(s) de acceso a este sitio Web.
  </p>
  <p>
    PIANOHOVER, S.L. se reserva el derecho de modificar dichos términos y condiciones en cualquier momento. Dichas
    modificaciones serán de aplicación desde
    el momento en que sean publicadas en este sitio Web.
  </p>
  <h2>Limitación de responsabilidad</h2>
  <p>
    En ningún caso PIANOHOVER, S.L., ni sus proveedores, clientes, asociados o cualquier tercero mencionado en el
    Sitio, serán responsable por cualquier tipo de daño
    (incluyendo, sin limitarse, a pérdidas de utilidades, datos o interrupción de operaciones) que surja de: el uso de
    este Sitio, de la imposibilidad de uso,
    como resultado del uso de este Sito, de cualquier sitio web vinculado a este Sitio, de los materiales y la
    información contenida en algunos o todos sitios
    mencionados, incluso si están basados en garantía, contrato, agravio o cualquier otra teoría legal y si están o no
    advertidos de la posibilidad de tales
    daños. Si el uso de los materiales o información de este Sitio llega crear la necesidad de mantenimiento,
    reparación o corrección de equipos o datos,
    usted asumirá los costos asociados a ello.
  </p>
  <h2>Enlaces externos</h2>
  <p>
    Si el usuario opta a abandonar este sitio Web a través de enlaces a páginas web no pertenecientes a nuestra
    empresa, PIANOHOVER, S.L. no se hará responsable de las políticas de privacidad de
    dichos sitios web ni de las cookies que estos puedan almacenar en el ordenador del Usuario.
  </p>
  <h2>Política de privacidad</h2>
  <p>
    Los datos proporcionados por el usuario a través de este sitio Web serán tratados conforme a la Ley, y a los
    términos y condiciones de la Política de Privacidad vigente.
    Se informa al usuario que dichos términos y condiciones podrán ser consultados en todo momento desde el enlace
    correspondiente, que estará disponible al menos en la(s) página(s) de acceso a este sitio Web.
  </p>
  <h2>Cuestiones legales</h2>
  <p>
    Este es un sitio web que está sujeto a la Ley española. PIANOHOVER, S.L. podrá disponer de la información
    personal proporcionada por el usuario sin su consentimiento cuando así le sea exigido legalmente,
    o bien actuando de buena fe siempre y cuando dicha acción sea necesaria para investigar o proteger a los
    invitados, visitantes o asociados de PIANOHOVER, S.L. o a bienes de su propiedad (incluyendo este sitio Web).
  </p>
  <h2>Información relacionada con la resolución de disputa en línea del Artículo 14, párrafo 1 del ODR</h2>
  <p>
    La Comisión Europea ofrece a los consumidores la oportunidad de resolver disputas en línea conforme al Artículo
    14, párrafo 1 del ODR en una de sus plataformas. La plataforma <a target="_blank"
      href="https://ec.europa.eu/consumers/odr">https://ec.europa.eu/consumers/odr</a> sirve como web en la que los
    consumidores pueden intentar llegar a acuerdos sin ir a juicio relacionados con las disputas que surjan en las
    compras y contratos de servicios en línea.
  </p>

  <button type="button" class="close" data-dismiss="modal" class="btn btn-success" aria-label="Close"
  (click)="activeModal.dismiss('Crosss click')">
  <span aria-hidden="true">✔</span>
</button>
</div>

