.main-admin {
  display: flex;
  overflow: hidden;
}

.datos {
  background-image: url(../../../../../assets/img/perfil.jpg);
  background-size: cover;
  margin: 14px 14px 14px 14px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

.perfil {
  width: 100%;
  color: #fff;
  max-height: 24vh;
  overflow-y: auto;

  .card-body {
    color: #000000;

  }
}
