<main class="main">
  <section>

    <div class="visuals">
      <div class="image-container imgUno">
        <h1 #tituloUno class="titulo piano">PIANO</h1>
        <h1 #tituloDos class="titulo hover">HOVER</h1>
        <h2 class="subtitulo">SALA DE CONCIERTOS</h2>
        <img #imgUno class="img-home imgHomeUno" src="../../../assets/img/11.jpg" alt="pianohover" />
        <p class="mrg"></p>
      </div>

      <div class="image-container">
        <h2 class="conciertos">TODAS LAS SEMANAS</h2>
        <h3 class="sub-conciertos">
          Consulta todos nuestros próximos concientos.
          Cada fin de semana sin descanso te ofrecemos a los mejores músicos y a las mejores orquestas del
          mundo, en un entorno y con un sonído unicos, los cuales núnca olvidaras.
        </h3>
        <a href="/conciertos" #btnConsultar class="btn btn-consultar btn-light">Consultar</a>
        <img #imgDos class="img-home img-home-static imgHomeDos" src="../../../assets/img/13.jpg" alt="pianohover" />
      </div>

      <div class="image-container">
        <h2 class="espacio">UN ESPACIO PARA DIRFRUTAR</h2>
        <h3 class="sub-espacio">
          La mejor calidad de sonido al rededor de toda nustra sala.
          Nos orgullece ofrecer un entorno hambiental y una acustica única en el mundo.
          Te sumerginas en una dimensión sensorial sin precendentes, sentiras la música como núnca antes.
        </h3>
        <img #imgTres class="img-home img-home-static imgHomeTres" src="../../../assets/img/12.jpg" alt="pianohover" />
      </div>

      <div class="image-container imgCuatro">
        <div class="imgcuatroTxt">

          <div class="div-nosotros">
            <h2 class="nosotros">SOBRE NOSOTROS</h2>
            <h3 class="sub-nosotros">
              Las primeras salas de conciertos centroeuropeas se construyeron en planta rectangular,
              con el escenario para la orquesta situado en uno de los extremos, y el público sentado,
              encarado hacia ella. Esta disposición es heredera de la forma de los salones de banquetes y
              las salas de equitación donde se empezaron a celebrar estos eventos. El modelo europeo parte de
              la construcción de la Altes Gewandhaus en Leipzig (1780), en la que se remodeló una sala
              preexistente en un edificio público. Las construcciones expresamente diseñadas para este fin
              comenzaron con el Schauspielhaus de Berlín (1821) (hoy reconstruido como Konzerthaus). Ya al
              final del siglo aumenta notablemente el tamaño y la capacidad de las salas, siendo la Musikverein
              de Viena (1870), el Concertgebouw de Ámsterdam (1888) los modelos a seguir. Nosotros ufrecemos una variante actualizada con las tecnologías
              más actuales para así hacer una mejora acústica realmente notable, PianoHover (2020).

            </h3>
          </div>
          <div class="div-pianistas">
            <h2 class="pianistas">FILARMÓNICAS Y PIANISTAS</h2>
            <h3 class="sub-pianistas">
              Las canciones de piano clásicas de los precursores de la música, son interpretadas por
              numerosas personas tocando el piano, ya sea de manera autodidacta o con una fructífera
              formación profesional. Hoy la música tiene renombrados exponentes que aseguraron su nombre
              entre los mejores del mundo. En PianoHover te ofreceremos a los mejores y más exèrimentados
              pianistas del globo.<br>
              De igual manera para con las orquestas pero queremos destacar a una de nuestras principales,
              Berliner Philharmoniker, el nacimiento de esta orquesta alemana se remonta a 1882. Entre su
              interminable lista de directores titulares aparecen nombres tan afamados como Wilhelm Furtwängler,
              Sergiu Celibidache, Claudio Abbado y, por encima de todos, Herbert Von Karajan.

            </h3>
          </div>
        </div>

        <img #imgCuatro class="img-home img-home-static imgHomeCuatro" src="../../../assets/img/44.jpg"
          alt="pianohover" />
      </div>

    </div>
  </section>
  <section class="second-section">

  </section>
</main>
