<main class="main">
  <section>

    <div class="visuals">
      <div class="image-container imgUno">
        <h1 #tituloUno class="titulo piano">PIANO</h1>
        <h1 #tituloDos class="titulo hover">HOVER</h1>
        <h2 class="subtitulo">SALA DE CONCIERTOS</h2>
        <img #imgUno class="img-home imgHomeUno" src="../../../assets/img/11.jpg" alt="pianohover" />
        <p class="mrg"></p>
      </div>

      <div class="image-container">
        <h2 class="conciertos">TODAS LAS SEMANAS</h2>
        <h3 class="sub-conciertos">
          Consulta todos nuestros próximos concientos,
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Nemo voluptatibus sequi provident. Numquam saepe quidem eaque eum vero,
          accusamus error rerum magnam minus alias nam laboriosam voluptatibus nobis provident quia?
        </h3>
        <a href="/conciertos" #btnConsultar class="btn btn-consultar btn-light">Consultar</a>
        <img #imgDos class="img-home img-home-static imgHomeDos" src="../../../assets/img/13.jpg" alt="pianohover" />
      </div>

      <div class="image-container">
        <h2 class="espacio">UN ESPACIO PARA DIRFRUTAR</h2>
        <h3 class="sub-espacio">
          La mejor calidad de sonido al rededor de toda nustra sala,
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Nemo voluptatibus sequi provident. Numquam saepe quidem eaque eum vero,
          accusamus error rerum magnam minus alias nam laboriosam voluptatibus nobis provident quia?
        </h3>
        <img #imgTres class="img-home img-home-static imgHomeTres" src="../../../assets/img/12.jpg" alt="pianohover" />
      </div>

      <div class="image-container imgCuatro">
        <div class="imgcuatroTxt">

          <div class="div-nosotros">
            <h2 class="nosotros">SOBRE NOSOTROS</h2>
            <h3 class="sub-nosotros">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo ratione numquam dolorum, magnam
              suscipit ut omnis mollitia aliquam, impedit dicta sapiente consequuntur? Facilis dolor quaerat quidem
              harum nobis ullam nemo?
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit explicabo porro laudantium nam
              voluptatibus. Optio blanditiis veritatis fugit nisi! Cupiditate dignissimos consequuntur necessitatibus
              ipsa
              omnis nisi molestias earum eveniet mollitia. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Voluptatibus itaque placeat repudiandae quidem sapiente, iure distinctio commodi quo modi suscipit, magnam
              quisquam maiores quod autem quam vitae illum praesentium? A? Lorem, ipsum dolor sit amet consectetur


            </h3>
          </div>
          <div class="div-pianistas">
            <h2 class="pianistas">FILARMÓNICAS Y PIANISTAS</h2>
            <h3 class="sub-pianistas">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ut doloremque repellendus voluptatibus
              aliquam expedita totam eligendi doloribus soluta, nisi, vitae cumque explicabo. Necessitatibus nobis aut
              maxime nisi ullam voluptates!
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores at harum ut, placeat aliquam obcaecati
              facere itaque reiciendis. Sit vel, laborum distinctio esse aut cum nam alias natus recusandae cupiditate.
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor ratione perspiciatis minima officia iste,
              at
              unde architecto dolore cum aliquam delectus hic quisquam facere molestias laudantium autem ullam saepe
              quidem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, tenetur numquam. Cupiditate, illo


            </h3>
          </div>
        </div>

        <img #imgCuatro class="img-home img-home-static imgHomeCuatro" src="../../../assets/img/44.jpg"
          alt="pianohover" />
      </div>

    </div>
  </section>
  <section class="second-section">

  </section>
</main>
