<div class="theatre">

  <div class="cinema-seats left">
    <div class="cinema-row row-1">
      <ng-template [ngIf]="fila_1.includes('a')" [ngIfElse]="fila_1_a">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_1_a>
        <div class="seat" (click)="seleccionarAsiento(1,'a',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_2.includes('a')" [ngIfElse]="fila_2_a">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_2_a>
        <div class="seat" (click)="seleccionarAsiento(2,'a',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_3.includes('a')" [ngIfElse]="fila_3_a">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_3_a>
        <div class="seat" (click)="seleccionarAsiento(3,'a',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_4.includes('a')" [ngIfElse]="fila_4_a">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_4_a>
        <div class="seat" (click)="seleccionarAsiento(4,'a',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_5.includes('a')" [ngIfElse]="fila_5_a">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_5_a>
        <div class="seat" (click)="seleccionarAsiento(5,'a',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_6.includes('a')" [ngIfElse]="fila_6_a">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_6_a>
        <div class="seat" (click)="seleccionarAsiento(6,'a',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_7.includes('a')" [ngIfElse]="fila_7_a">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_7_a>
        <div class="seat" (click)="seleccionarAsiento(7,'a',$event)"></div>
      </ng-template>


    </div>

    <div class="cinema-row row-2">
      <ng-template [ngIf]="fila_1.includes('b')" [ngIfElse]="fila_1_b">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_1_b>
        <div class="seat" (click)="seleccionarAsiento(1,'b',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_2.includes('b')" [ngIfElse]="fila_2_b">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_2_b>
        <div class="seat" (click)="seleccionarAsiento(2,'b',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_3.includes('b')" [ngIfElse]="fila_3_b">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_3_b>
        <div class="seat" (click)="seleccionarAsiento(3,'b',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_4.includes('b')" [ngIfElse]="fila_4_b">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_4_b>
        <div class="seat" (click)="seleccionarAsiento(4,'b',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_5.includes('b')" [ngIfElse]="fila_5_b">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_5_b>
        <div class="seat" (click)="seleccionarAsiento(5,'b',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_6.includes('b')" [ngIfElse]="fila_6_b">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_6_b>
        <div class="seat" (click)="seleccionarAsiento(6,'b',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_7.includes('b')" [ngIfElse]="fila_7_b">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_7_b>
        <div class="seat" (click)="seleccionarAsiento(7,'b',$event)"></div>
      </ng-template>
    </div>

    <div class="cinema-row row-3">
      <ng-template [ngIf]="fila_1.includes('c')" [ngIfElse]="fila_1_c">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_1_c>
        <div class="seat" (click)="seleccionarAsiento(1,'c',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_2.includes('c')" [ngIfElse]="fila_2_c">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_2_c>
        <div class="seat" (click)="seleccionarAsiento(2,'c',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_3.includes('c')" [ngIfElse]="fila_3_c">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_3_c>
        <div class="seat" (click)="seleccionarAsiento(3,'c',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_4.includes('c')" [ngIfElse]="fila_4_c">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_4_c>
        <div class="seat" (click)="seleccionarAsiento(4,'c',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_5.includes('c')" [ngIfElse]="fila_5_c">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_5_c>
        <div class="seat" (click)="seleccionarAsiento(5,'c',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_6.includes('c')" [ngIfElse]="fila_6_c">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_6_c>
        <div class="seat" (click)="seleccionarAsiento(6,'c',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_7.includes('c')" [ngIfElse]="fila_7_c">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_7_c>
        <div class="seat" (click)="seleccionarAsiento(7,'c',$event)"></div>
      </ng-template>
    </div>

    <div class="cinema-row row-4">
      <ng-template [ngIf]="fila_1.includes('d')" [ngIfElse]="fila_1_d">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_1_d>
        <div class="seat" (click)="seleccionarAsiento(1,'d',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_2.includes('d')" [ngIfElse]="fila_2_d">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_2_d>
        <div class="seat" (click)="seleccionarAsiento(2,'d',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_3.includes('d')" [ngIfElse]="fila_3_d">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_3_d>
        <div class="seat" (click)="seleccionarAsiento(3,'d',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_4.includes('d')" [ngIfElse]="fila_4_d">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_4_d>
        <div class="seat" (click)="seleccionarAsiento(4,'d',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_5.includes('d')" [ngIfElse]="fila_5_d">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_5_d>
        <div class="seat" (click)="seleccionarAsiento(5,'d',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_6.includes('d')" [ngIfElse]="fila_6_d">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_6_d>
        <div class="seat" (click)="seleccionarAsiento(6,'d',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_7.includes('d')" [ngIfElse]="fila_7_d">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_7_d>
        <div class="seat" (click)="seleccionarAsiento(7,'d',$event)"></div>
      </ng-template>
    </div>

    <div class="cinema-row row-5">
      <ng-template [ngIf]="fila_1.includes('e')" [ngIfElse]="fila_1_e">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_1_e>
        <div class="seat" (click)="seleccionarAsiento(1,'e',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_2.includes('e')" [ngIfElse]="fila_2_e">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_2_e>
        <div class="seat" (click)="seleccionarAsiento(2,'e',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_3.includes('e')" [ngIfElse]="fila_3_e">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_3_e>
        <div class="seat" (click)="seleccionarAsiento(3,'e',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_4.includes('e')" [ngIfElse]="fila_4_e">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_4_e>
        <div class="seat" (click)="seleccionarAsiento(4,'e',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_5.includes('e')" [ngIfElse]="fila_5_e">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_5_e>
        <div class="seat" (click)="seleccionarAsiento(5,'e',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_6.includes('e')" [ngIfElse]="fila_6_e">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_6_e>
        <div class="seat" (click)="seleccionarAsiento(6,'e',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_7.includes('e')" [ngIfElse]="fila_7_e">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_7_e>
        <div class="seat" (click)="seleccionarAsiento(7,'e',$event)"></div>
      </ng-template>
    </div>

    <div class="cinema-row row-6">
      <ng-template [ngIf]="fila_1.includes('f')" [ngIfElse]="fila_1_f">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_1_f>
        <div class="seat" (click)="seleccionarAsiento(1,'f',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_2.includes('f')" [ngIfElse]="fila_2_f">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_2_f>
        <div class="seat" (click)="seleccionarAsiento(2,'f',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_3.includes('f')" [ngIfElse]="fila_3_f">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_3_f>
        <div class="seat" (click)="seleccionarAsiento(3,'f',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_4.includes('f')" [ngIfElse]="fila_4_f">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_4_f>
        <div class="seat" (click)="seleccionarAsiento(4,'f',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_5.includes('f')" [ngIfElse]="fila_5_f">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_5_f>
        <div class="seat" (click)="seleccionarAsiento(5,'f',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_6.includes('f')" [ngIfElse]="fila_6_f">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_6_f>
        <div class="seat" (click)="seleccionarAsiento(6,'f',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_7.includes('f')" [ngIfElse]="fila_7_f">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_7_f>
        <div class="seat" (click)="seleccionarAsiento(7,'f',$event)"></div>
      </ng-template>
    </div>

    <div class="cinema-row row-7">
      <ng-template [ngIf]="fila_1.includes('g')" [ngIfElse]="fila_1_g">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_1_g>
        <div class="seat" (click)="seleccionarAsiento(1,'g',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_2.includes('g')" [ngIfElse]="fila_2_g">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_2_g>
        <div class="seat" (click)="seleccionarAsiento(2,'g',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_3.includes('g')" [ngIfElse]="fila_3_g">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_3_g>
        <div class="seat" (click)="seleccionarAsiento(3,'g',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_4.includes('g')" [ngIfElse]="fila_4_g">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_4_g>
        <div class="seat" (click)="seleccionarAsiento(4,'g',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_5.includes('g')" [ngIfElse]="fila_5_g">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_5_g>
        <div class="seat" (click)="seleccionarAsiento(5,'g',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_6.includes('g')" [ngIfElse]="fila_6_g">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_6_g>
        <div class="seat" (click)="seleccionarAsiento(6,'g',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_7.includes('g')" [ngIfElse]="fila_7_g">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_7_g>
        <div class="seat" (click)="seleccionarAsiento(7,'g',$event)"></div>
      </ng-template>
    </div>
  </div>

    <!-- Asientos de la derecha -->

  <div class="cinema-seats right">
    <div class="cinema-row row-1">
      <ng-template [ngIf]="fila_1.includes('h')" [ngIfElse]="fila_1_h">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_1_h>
        <div class="seat" (click)="seleccionarAsiento(1,'h',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_2.includes('h')" [ngIfElse]="fila_2_h">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_2_h>
        <div class="seat" (click)="seleccionarAsiento(2,'h',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_3.includes('h')" [ngIfElse]="fila_3_h">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_3_h>
        <div class="seat" (click)="seleccionarAsiento(3,'h',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_4.includes('h')" [ngIfElse]="fila_4_h">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_4_h>
        <div class="seat" (click)="seleccionarAsiento(4,'h',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_5.includes('h')" [ngIfElse]="fila_5_h">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_5_h>
        <div class="seat" (click)="seleccionarAsiento(5,'h',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_6.includes('h')" [ngIfElse]="fila_6_h">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_6_h>
        <div class="seat" (click)="seleccionarAsiento(6,'h',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_7.includes('h')" [ngIfElse]="fila_7_h">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_7_h>
        <div class="seat" (click)="seleccionarAsiento(7,'h',$event)"></div>
      </ng-template>


    </div>

    <div class="cinema-row row-2">
      <ng-template [ngIf]="fila_1.includes('i')" [ngIfElse]="fila_1_i">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_1_i>
        <div class="seat" (click)="seleccionarAsiento(1,'i',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_2.includes('i')" [ngIfElse]="fila_2_i">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_2_i>
        <div class="seat" (click)="seleccionarAsiento(2,'i',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_3.includes('i')" [ngIfElse]="fila_3_i">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_3_i>
        <div class="seat" (click)="seleccionarAsiento(3,'i',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_4.includes('i')" [ngIfElse]="fila_4_i">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_4_i>
        <div class="seat" (click)="seleccionarAsiento(4,'i',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_5.includes('i')" [ngIfElse]="fila_5_i">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_5_i>
        <div class="seat" (click)="seleccionarAsiento(5,'i',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_6.includes('i')" [ngIfElse]="fila_6_i">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_6_i>
        <div class="seat" (click)="seleccionarAsiento(6,'i',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_7.includes('i')" [ngIfElse]="fila_7_i">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_7_i>
        <div class="seat" (click)="seleccionarAsiento(7,'i',$event)"></div>
      </ng-template>
    </div>

    <div class="cinema-row row-3">
      <ng-template [ngIf]="fila_1.includes('j')" [ngIfElse]="fila_1_j">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_1_j>
        <div class="seat" (click)="seleccionarAsiento(1,'j',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_2.includes('j')" [ngIfElse]="fila_2_j">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_2_j>
        <div class="seat" (click)="seleccionarAsiento(2,'j',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_3.includes('j')" [ngIfElse]="fila_3_j">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_3_j>
        <div class="seat" (click)="seleccionarAsiento(3,'j',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_4.includes('j')" [ngIfElse]="fila_4_j">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_4_j>
        <div class="seat" (click)="seleccionarAsiento(4,'j',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_5.includes('j')" [ngIfElse]="fila_5_j">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_5_j>
        <div class="seat" (click)="seleccionarAsiento(5,'j',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_6.includes('j')" [ngIfElse]="fila_6_j">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_6_j>
        <div class="seat" (click)="seleccionarAsiento(6,'j',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_7.includes('j')" [ngIfElse]="fila_7_j">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_7_j>
        <div class="seat" (click)="seleccionarAsiento(7,'j',$event)"></div>
      </ng-template>
    </div>

    <div class="cinema-row row-4">
      <ng-template [ngIf]="fila_1.includes('k')" [ngIfElse]="fila_1_k">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_1_k>
        <div class="seat" (click)="seleccionarAsiento(1,'k',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_2.includes('k')" [ngIfElse]="fila_2_k">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_2_k>
        <div class="seat" (click)="seleccionarAsiento(2,'k',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_3.includes('k')" [ngIfElse]="fila_3_k">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_3_k>
        <div class="seat" (click)="seleccionarAsiento(3,'k',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_4.includes('k')" [ngIfElse]="fila_4_k">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_4_k>
        <div class="seat" (click)="seleccionarAsiento(4,'k',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_5.includes('k')" [ngIfElse]="fila_5_k">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_5_k>
        <div class="seat" (click)="seleccionarAsiento(5,'k',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_6.includes('k')" [ngIfElse]="fila_6_k">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_6_k>
        <div class="seat" (click)="seleccionarAsiento(6,'k',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_7.includes('k')" [ngIfElse]="fila_7_k">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_7_k>
        <div class="seat" (click)="seleccionarAsiento(7,'k',$event)"></div>
      </ng-template>
    </div>

    <div class="cinema-row row-5">
      <ng-template [ngIf]="fila_1.includes('l')" [ngIfElse]="fila_1_l">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_1_l>
        <div class="seat" (click)="seleccionarAsiento(1,'l',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_2.includes('l')" [ngIfElse]="fila_2_l">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_2_l>
        <div class="seat" (click)="seleccionarAsiento(2,'l',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_3.includes('l')" [ngIfElse]="fila_3_l">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_3_l>
        <div class="seat" (click)="seleccionarAsiento(3,'l',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_4.includes('l')" [ngIfElse]="fila_4_l">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_4_l>
        <div class="seat" (click)="seleccionarAsiento(4,'l',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_5.includes('l')" [ngIfElse]="fila_5_l">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_5_l>
        <div class="seat" (click)="seleccionarAsiento(5,'l',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_6.includes('l')" [ngIfElse]="fila_6_l">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_6_l>
        <div class="seat" (click)="seleccionarAsiento(6,'l',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_7.includes('l')" [ngIfElse]="fila_7_l">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_7_l>
        <div class="seat" (click)="seleccionarAsiento(7,'l',$event)"></div>
      </ng-template>
    </div>

    <div class="cinema-row row-6">
      <ng-template [ngIf]="fila_1.includes('m')" [ngIfElse]="fila_1_m">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_1_m>
        <div class="seat" (click)="seleccionarAsiento(1,'m',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_2.includes('m')" [ngIfElse]="fila_2_m">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_2_m>
        <div class="seat" (click)="seleccionarAsiento(2,'m',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_3.includes('m')" [ngIfElse]="fila_3_m">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_3_m>
        <div class="seat" (click)="seleccionarAsiento(3,'m',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_4.includes('m')" [ngIfElse]="fila_4_m">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_4_m>
        <div class="seat" (click)="seleccionarAsiento(4,'m',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_5.includes('m')" [ngIfElse]="fila_5_m">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_5_m>
        <div class="seat" (click)="seleccionarAsiento(5,'m',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_6.includes('m')" [ngIfElse]="fila_6_m">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_6_m>
        <div class="seat" (click)="seleccionarAsiento(6,'m',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_7.includes('m')" [ngIfElse]="fila_7_m">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_7_m>
        <div class="seat" (click)="seleccionarAsiento(7,'m',$event)"></div>
      </ng-template>
    </div>

    <div class="cinema-row row-7">
      <ng-template [ngIf]="fila_1.includes('n')" [ngIfElse]="fila_1_n">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_1_n>
        <div class="seat" (click)="seleccionarAsiento(1,'n',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_2.includes('n')" [ngIfElse]="fila_2_n">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_2_n>
        <div class="seat" (click)="seleccionarAsiento(2,'n',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_3.includes('n')" [ngIfElse]="fila_3_n">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_3_n>
        <div class="seat" (click)="seleccionarAsiento(3,'n',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_4.includes('n')" [ngIfElse]="fila_4_n">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_4_n>
        <div class="seat" (click)="seleccionarAsiento(4,'n',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_5.includes('n')" [ngIfElse]="fila_5_n">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_5_n>
        <div class="seat" (click)="seleccionarAsiento(5,'n',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_6.includes('n')" [ngIfElse]="fila_6_n">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_6_n>
        <div class="seat" (click)="seleccionarAsiento(6,'n',$event)"></div>
      </ng-template>

      <ng-template [ngIf]="fila_7.includes('n')" [ngIfElse]="fila_7_n">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_7_n>
        <div class="seat" (click)="seleccionarAsiento(7,'n',$event)"></div>
      </ng-template>
    </div>
  </div>

</div>

<div class="asientosSeleccionados">
  <h3 *ngFor="let seleccion of asientosSeleccionados">
    <i class="fa-solid fa-ticket"></i>
    Butaca: {{seleccion.fila}}{{seleccion.letra}} -
    {{seleccion.fila === 1 || seleccion.fila === 2 ? precioVIP+"€" : precioNormal+"€"}}
  </h3>
</div>
<div class="comprar">
  <a (click)="comprar()" class="btn btn-success btn-block">
    <i class="fa-solid fa-ticket"></i>
    COMPRAR
  </a>
  <h3>TOTAL: {{total.toFixed(2)}}€</h3>
</div>
<div class="paypal" *ngIf="pagar && asientosSeleccionados.length > 0">
  <ngx-paypal [config]="payPalConfig"></ngx-paypal>
</div>
