<div class="theatre">

  <div class="cinema-seats left">
    <div class="cinema-row row-1">
      <ng-template [ngIf]="fila_1.includes('a')" [ngIfElse]="fila_1_a">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_1_a>
        <div class="seat" (click)="seleccionarAsiento(1,'a')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_2.includes('a')" [ngIfElse]="fila_2_a">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_2_a>
        <div class="seat" (click)="seleccionarAsiento(2,'a')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_3.includes('a')" [ngIfElse]="fila_3_a">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_3_a>
        <div class="seat" (click)="seleccionarAsiento(3,'a')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_4.includes('a')" [ngIfElse]="fila_4_a">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_4_a>
        <div class="seat" (click)="seleccionarAsiento(4,'a')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_5.includes('a')" [ngIfElse]="fila_5_a">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_5_a>
        <div class="seat" (click)="seleccionarAsiento(5,'a')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_6.includes('a')" [ngIfElse]="fila_6_a">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_6_a>
        <div class="seat" (click)="seleccionarAsiento(6,'a')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_7.includes('a')" [ngIfElse]="fila_7_a">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_7_a>
        <div class="seat" (click)="seleccionarAsiento(7,'a')"></div>
      </ng-template>


    </div>

    <div class="cinema-row row-2">
      <ng-template [ngIf]="fila_1.includes('b')" [ngIfElse]="fila_1_b">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_1_b>
        <div class="seat" (click)="seleccionarAsiento(1,'b')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_2.includes('b')" [ngIfElse]="fila_2_b">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_2_b>
        <div class="seat" (click)="seleccionarAsiento(2,'b')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_3.includes('b')" [ngIfElse]="fila_3_b">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_3_b>
        <div class="seat" (click)="seleccionarAsiento(3,'b')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_4.includes('b')" [ngIfElse]="fila_4_b">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_4_b>
        <div class="seat" (click)="seleccionarAsiento(4,'b')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_5.includes('b')" [ngIfElse]="fila_5_b">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_5_b>
        <div class="seat" (click)="seleccionarAsiento(5,'b')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_6.includes('b')" [ngIfElse]="fila_6_b">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_6_b>
        <div class="seat" (click)="seleccionarAsiento(6,'b')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_7.includes('b')" [ngIfElse]="fila_7_b">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_7_b>
        <div class="seat" (click)="seleccionarAsiento(7,'b')"></div>
      </ng-template>
    </div>

    <div class="cinema-row row-3">
      <ng-template [ngIf]="fila_1.includes('c')" [ngIfElse]="fila_1_c">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_1_c>
        <div class="seat" (click)="seleccionarAsiento(1,'c')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_2.includes('c')" [ngIfElse]="fila_2_c">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_2_c>
        <div class="seat" (click)="seleccionarAsiento(2,'c')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_3.includes('c')" [ngIfElse]="fila_3_c">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_3_c>
        <div class="seat" (click)="seleccionarAsiento(3,'c')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_4.includes('c')" [ngIfElse]="fila_4_c">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_4_c>
        <div class="seat" (click)="seleccionarAsiento(4,'c')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_5.includes('c')" [ngIfElse]="fila_5_c">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_5_c>
        <div class="seat" (click)="seleccionarAsiento(5,'c')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_6.includes('c')" [ngIfElse]="fila_6_c">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_6_c>
        <div class="seat" (click)="seleccionarAsiento(6,'c')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_7.includes('c')" [ngIfElse]="fila_7_c">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_7_c>
        <div class="seat" (click)="seleccionarAsiento(7,'c')"></div>
      </ng-template>
    </div>

    <div class="cinema-row row-4">
      <ng-template [ngIf]="fila_1.includes('d')" [ngIfElse]="fila_1_d">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_1_d>
        <div class="seat" (click)="seleccionarAsiento(1,'d')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_2.includes('d')" [ngIfElse]="fila_2_d">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_2_d>
        <div class="seat" (click)="seleccionarAsiento(2,'d')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_3.includes('d')" [ngIfElse]="fila_3_d">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_3_d>
        <div class="seat" (click)="seleccionarAsiento(3,'d')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_4.includes('d')" [ngIfElse]="fila_4_d">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_4_d>
        <div class="seat" (click)="seleccionarAsiento(4,'d')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_5.includes('d')" [ngIfElse]="fila_5_d">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_5_d>
        <div class="seat" (click)="seleccionarAsiento(5,'d')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_6.includes('d')" [ngIfElse]="fila_6_d">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_6_d>
        <div class="seat" (click)="seleccionarAsiento(6,'d')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_7.includes('d')" [ngIfElse]="fila_7_d">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_7_d>
        <div class="seat" (click)="seleccionarAsiento(7,'d')"></div>
      </ng-template>
    </div>

    <div class="cinema-row row-5">
      <ng-template [ngIf]="fila_1.includes('e')" [ngIfElse]="fila_1_e">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_1_e>
        <div class="seat" (click)="seleccionarAsiento(1,'e')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_2.includes('e')" [ngIfElse]="fila_2_e">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_2_e>
        <div class="seat" (click)="seleccionarAsiento(2,'e')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_3.includes('e')" [ngIfElse]="fila_3_e">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_3_e>
        <div class="seat" (click)="seleccionarAsiento(3,'e')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_4.includes('e')" [ngIfElse]="fila_4_e">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_4_e>
        <div class="seat" (click)="seleccionarAsiento(4,'e')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_5.includes('e')" [ngIfElse]="fila_5_e">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_5_e>
        <div class="seat" (click)="seleccionarAsiento(5,'e')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_6.includes('e')" [ngIfElse]="fila_6_e">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_6_e>
        <div class="seat" (click)="seleccionarAsiento(6,'e')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_7.includes('e')" [ngIfElse]="fila_7_e">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_7_e>
        <div class="seat" (click)="seleccionarAsiento(7,'e')"></div>
      </ng-template>
    </div>

    <div class="cinema-row row-6">
      <ng-template [ngIf]="fila_1.includes('f')" [ngIfElse]="fila_1_f">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_1_f>
        <div class="seat" (click)="seleccionarAsiento(1,'f')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_2.includes('f')" [ngIfElse]="fila_2_f">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_2_f>
        <div class="seat" (click)="seleccionarAsiento(2,'f')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_3.includes('f')" [ngIfElse]="fila_3_f">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_3_f>
        <div class="seat" (click)="seleccionarAsiento(3,'f')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_4.includes('f')" [ngIfElse]="fila_4_f">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_4_f>
        <div class="seat" (click)="seleccionarAsiento(4,'f')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_5.includes('f')" [ngIfElse]="fila_5_f">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_5_f>
        <div class="seat" (click)="seleccionarAsiento(5,'f')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_6.includes('f')" [ngIfElse]="fila_6_f">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_6_f>
        <div class="seat" (click)="seleccionarAsiento(6,'f')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_7.includes('f')" [ngIfElse]="fila_7_f">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_7_f>
        <div class="seat" (click)="seleccionarAsiento(7,'f')"></div>
      </ng-template>
    </div>

    <div class="cinema-row row-7">
      <ng-template [ngIf]="fila_1.includes('g')" [ngIfElse]="fila_1_g">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_1_g>
        <div class="seat" (click)="seleccionarAsiento(1,'g')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_2.includes('g')" [ngIfElse]="fila_2_g">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_2_g>
        <div class="seat" (click)="seleccionarAsiento(2,'g')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_3.includes('g')" [ngIfElse]="fila_3_g">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_3_g>
        <div class="seat" (click)="seleccionarAsiento(3,'g')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_4.includes('g')" [ngIfElse]="fila_4_g">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_4_g>
        <div class="seat" (click)="seleccionarAsiento(4,'g')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_5.includes('g')" [ngIfElse]="fila_5_g">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_5_g>
        <div class="seat" (click)="seleccionarAsiento(5,'g')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_6.includes('g')" [ngIfElse]="fila_6_g">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_6_g>
        <div class="seat" (click)="seleccionarAsiento(6,'g')"></div>
      </ng-template>

      <ng-template [ngIf]="fila_7.includes('g')" [ngIfElse]="fila_7_g">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_7_g>
        <div class="seat" (click)="seleccionarAsiento(7,'g')"></div>
      </ng-template>
    </div>
  </div>

    <!-- Asientos de la derecha -->

  <div class="cinema-seats right">
    <div class="cinema-row row-1">
      <ng-template [ngIf]="fila_1.includes('h')" [ngIfElse]="fila_1_h">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_1_h>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_2.includes('h')" [ngIfElse]="fila_2_h">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_2_h>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_3.includes('h')" [ngIfElse]="fila_3_h">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_3_h>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_4.includes('h')" [ngIfElse]="fila_4_h">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_4_h>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_5.includes('h')" [ngIfElse]="fila_5_h">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_5_h>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_6.includes('h')" [ngIfElse]="fila_6_h">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_6_h>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_7.includes('h')" [ngIfElse]="fila_7_h">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_7_h>
        <div class="seat"></div>
      </ng-template>


    </div>

    <div class="cinema-row row-2">
      <ng-template [ngIf]="fila_1.includes('i')" [ngIfElse]="fila_1_i">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_1_i>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_2.includes('i')" [ngIfElse]="fila_2_i">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_2_i>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_3.includes('i')" [ngIfElse]="fila_3_i">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_3_i>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_4.includes('i')" [ngIfElse]="fila_4_i">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_4_i>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_5.includes('i')" [ngIfElse]="fila_5_i">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_5_i>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_6.includes('i')" [ngIfElse]="fila_6_i">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_6_i>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_7.includes('i')" [ngIfElse]="fila_7_i">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_7_i>
        <div class="seat"></div>
      </ng-template>
    </div>

    <div class="cinema-row row-3">
      <ng-template [ngIf]="fila_1.includes('j')" [ngIfElse]="fila_1_j">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_1_j>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_2.includes('j')" [ngIfElse]="fila_2_j">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_2_j>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_3.includes('j')" [ngIfElse]="fila_3_j">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_3_j>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_4.includes('j')" [ngIfElse]="fila_4_j">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_4_j>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_5.includes('j')" [ngIfElse]="fila_5_j">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_5_j>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_6.includes('j')" [ngIfElse]="fila_6_j">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_6_j>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_7.includes('j')" [ngIfElse]="fila_7_j">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_7_j>
        <div class="seat"></div>
      </ng-template>
    </div>

    <div class="cinema-row row-4">
      <ng-template [ngIf]="fila_1.includes('l')" [ngIfElse]="fila_1_l">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_1_l>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_2.includes('l')" [ngIfElse]="fila_2_l">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_2_l>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_3.includes('l')" [ngIfElse]="fila_3_l">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_3_l>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_4.includes('l')" [ngIfElse]="fila_4_l">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_4_l>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_5.includes('l')" [ngIfElse]="fila_5_l">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_5_l>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_6.includes('l')" [ngIfElse]="fila_6_l">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_6_l>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_7.includes('l')" [ngIfElse]="fila_7_l">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_7_l>
        <div class="seat"></div>
      </ng-template>
    </div>

    <div class="cinema-row row-5">
      <ng-template [ngIf]="fila_1.includes('l')" [ngIfElse]="fila_1_l">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_1_l>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_2.includes('l')" [ngIfElse]="fila_2_l">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_2_l>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_3.includes('l')" [ngIfElse]="fila_3_l">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_3_l>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_4.includes('l')" [ngIfElse]="fila_4_l">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_4_l>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_5.includes('l')" [ngIfElse]="fila_5_l">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_5_l>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_6.includes('l')" [ngIfElse]="fila_6_l">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_6_l>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_7.includes('l')" [ngIfElse]="fila_7_l">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_7_l>
        <div class="seat"></div>
      </ng-template>
    </div>

    <div class="cinema-row row-6">
      <ng-template [ngIf]="fila_1.includes('m')" [ngIfElse]="fila_1_m">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_1_m>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_2.includes('m')" [ngIfElse]="fila_2_m">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_2_m>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_3.includes('m')" [ngIfElse]="fila_3_m">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_3_m>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_4.includes('m')" [ngIfElse]="fila_4_m">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_4_m>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_5.includes('m')" [ngIfElse]="fila_5_m">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_5_m>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_6.includes('m')" [ngIfElse]="fila_6_m">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_6_m>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_7.includes('m')" [ngIfElse]="fila_7_m">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_7_m>
        <div class="seat"></div>
      </ng-template>
    </div>

    <div class="cinema-row row-7">
      <ng-template [ngIf]="fila_1.includes('n')" [ngIfElse]="fila_1_n">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_1_n>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_2.includes('n')" [ngIfElse]="fila_2_n">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_2_n>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_3.includes('n')" [ngIfElse]="fila_3_n">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_3_n>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_4.includes('n')" [ngIfElse]="fila_4_n">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_4_n>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_5.includes('n')" [ngIfElse]="fila_5_n">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_5_n>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_6.includes('n')" [ngIfElse]="fila_6_n">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_6_n>
        <div class="seat"></div>
      </ng-template>

      <ng-template [ngIf]="fila_7.includes('n')" [ngIfElse]="fila_7_n">
        <div class="seat sold"></div>
      </ng-template>
      <ng-template #fila_7_n>
        <div class="seat"></div>
      </ng-template>
    </div>
  </div>

</div>

<div class="asientosSeleccionados">
  <h3>{{asientosSeleccionados}}</h3>
</div>
