.main-perfil {
  display: flex;
  overflow: hidden;

}

.perfil {
  width: 100%;
  color: #fff;
  max-height: 100vh;
  background-image: url(../../../../assets/img/perfil.jpg);
  background-size: cover;
  margin: 14px 14px 14px 14px;

  .lista {
    max-height: 80vh;
    overflow-y: auto;
  }

  .card-body {
    color: #000000;
  }
  card-header {

  }
}
