.main-admin{
  display: flex;
  overflow: hidden;
}
.main-lista{
  background-image: url(../../../../assets/img/perfil.jpg);
  background-size: cover;
  margin: 14px 14px 14px 14px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}
.none {
  display: none;
}

.header-main{
  position:relative;
}
.card-header {
  border: ridge;
}
.table{
  overflow: auto;
}
.scroll-usuarios{
  max-height: 70vh;
	overflow: auto;
  border: outset;
  background-color: white;
}
.scroll-usuarios:before{
	content:"";
	position: absolute;
	width:99%;
	height: 40px;
	display: table;
	z-index: 10;
	background:#212529;
}
table.fixed-header th div{
  position: absolute;
  z-index: 11;
  color: #ffffff;
}
@media only screen and (max-width: 550px){

  table.fixed-header th div{
    position: relative;
  }
  .row{
    max-width: 70vw;
  }

}







