
<div class="header">
  <h3>⚠Error</h3>
  <button type="button" class="close" data-dismiss="modal" class="btn btn-danger" aria-label="Close"
    (click)="activeModal.dismiss('Crosss click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<hr>
<div class="body">
  <h4>Los datos de inicio de sesión no son correctos.</h4>
  <hr>
</div>
<div class="reintentar">
  <button type="button" class="close" data-dismiss="modal" class="btn btn-warning" aria-label="Close"
    (click)="activeModal.dismiss('Crosss click')">
    <span aria-hidden="true">Reintentar</span>
  </button>
</div>

