<div class="main-admin">
  <app-sidebar-admin></app-sidebar-admin>
  <div class="main-lista">
    <div class="col-md-4 pb-5">

      <div class="card text-center mb-3 mt-5">
        <div class="card-header bg-dark d-flex justify-content-between aling-items-center">
          <h4 class="text-white">Concierto más vendido</h4>
        </div>
        <div class="card-body">
          <h4>Nombre:</h4>
          <h4> <strong>{{concierto.titulo}}</strong></h4>
          <h4>Entradas vendidas: <strong>{{cantidad}}</strong></h4>
        </div>
      </div>

      <div class="card text-center mb-3">
        <div class="card-header bg-dark d-flex justify-content-between aling-items-center">
          <h4 class="text-white">Usuario con más entradas</h4>
        </div>
        <div class="card-body">
          <h4>Nombre usuario: <strong>{{usuario.usuario}}</strong></h4>
          <h4>Nombre: <strong>{{usuario.nombre}}</strong></h4>
          <h4>Nº Entradas totales: <strong>{{cantidadCompras}}</strong></h4>
        </div>
      </div>
    </div>
  </div>
</div>
