<div class="main-admin">
  <app-sidebar-admin></app-sidebar-admin>
  <div class="main-lista">

      <div class="card text-center m-3">
        <div class="card-header bg-dark d-flex justify-content-between aling-items-center">
          <h4 class="text-white">Histórico de conciertos</h4>
        </div>
        <div class="card-body">
          <h4>Totales:</h4>
          <h4> <strong>{{conciertos.length}}</strong></h4>
        </div>
      </div>

      <div class="card text-center m-3">
        <div class="card-header bg-dark d-flex justify-content-between aling-items-center">
          <h4 class="text-white">Entradas vendidas el mes pasado</h4>
        </div>
        <div class="card-body">
          <h4>Totales:</h4>
          <h4> <strong>{{mesPasado[0].cantidad}}</strong></h4>
        </div>
      </div>

      <div class="card text-center m-3">
        <div class="card-header bg-dark d-flex justify-content-between aling-items-center">
          <h4 class="text-white">Entradas vendidas este mes</h4>
        </div>
        <div class="card-body">
          <h4>Totales:</h4>
          <h4> <strong>{{mes[0].cantidad}}</strong></h4>
        </div>
      </div>

      <div class="card text-center m-3">
        <div class="card-header bg-dark d-flex justify-content-between aling-items-center">
          <h4 class="text-white">Concierto más vendido</h4>
        </div>
        <div class="card-body">
          <h4>Nombre:</h4>
          <h4> <strong>{{concierto.titulo}}</strong></h4>
          <h4>Entradas vendidas: <strong>{{cantidad}}</strong></h4>
        </div>
      </div>

      <div class="card text-center m-3">
        <div class="card-header bg-dark d-flex justify-content-between aling-items-center">
          <h4 class="text-white">Usuario con más entradas</h4>
        </div>
        <div class="card-body">
          <h4>Nombre usuario: <strong>{{usuario.usuario}}</strong></h4>
          <h4>Nombre: <strong>{{usuario.nombre}}</strong></h4>
          <h4>Nº Entradas totales: <strong>{{cantidadCompras}}</strong></h4>
        </div>
      </div>

    </div>
</div>
