.main-admin{
  display: flex;
  overflow: hidden;
}
.main-lista{
  background-image: url(../../../assets/img/perfil.jpg);
  background-size: cover;
  margin: 14px 14px 14px 14px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
