<div class="sideBar d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">

    <span class="fs-4">Perfil de Usuario</span>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">

      <li class="nav-item">
        <a id="editar" routerLink="/perfil/{{id}}/editarPerfil"  routerLinkActive="active" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16">
          </svg>
          Editar
        </a>
      </li>
      <li>
        <a id="historial" routerLink="/perfil/{{id}}/historial"  routerLinkActive="active" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16">
          </svg>
          Historial
        </a>
      </li>
    </ul>

  </div>
