<div class="sideBar d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">

  <span class="none fs-4">Administrador</span>
  <span class="visible fs-4">Admin</span>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">

    <li class="nav-item">
      <a id="editar" routerLink="/administrador/lista-usuarios"  routerLinkActive="active" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16">
        </svg>
        Usuarios
      </a>
    </li>
    <li>
      <a id="historial" routerLink="/administrador/lista-conciertos"  routerLinkActive="active" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16">
        </svg>
        Conciertos
      </a>
    </li>
  </ul>

</div>
