.row {
  background-color: #2e2c2c;
}
.escenario {
  text-align: center;
}
.img-escenario{
  max-width: 22vw;
}
.entradas-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  h4 {
    border-top: ridge;
  }
  .comprar {
    text-align: right;
  }
}
