<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 concierto-info m-3">
      <div class="card text-center">
        <div class="card-header bg-dark d-flex justify-content-between aling-items-center">
          <h4 class="text-white">{{concierto.titulo == '' ? 'Título' : concierto.titulo}}</h4>
        </div>
        <img [src]="concierto.imagen == '' ? 'assets/img/noimagen.png' : concierto.imagen" class="card-img-top"
          alt="orquesta">
        <div class="card-body">
          <p>El {{ concierto.fecha | date: 'yyyy-MM-dd' }}</p>
          <p class="resumen">{{concierto.descripcion == '' ? 'Descripción del concierto' : concierto.descripcion}}</p>
        </div>
      </div>
    </div>

    <div class="col entradas-container">
      <h1 class="text-white text-center mt-5">COMPRAR ENTRADAS</h1>
      <div class="escenario">
        <img src="../../../../assets/img/escenario.png" alt="escenario" class="img-escenario">
        <h4 class="text-white text-center ">ESCENARIO</h4>
      </div>
      <div>
        <app-entradas></app-entradas>
      </div>
      <div class="comprar">
        <a routerLink="/concierto/{{ concierto.id }}" class="btn btn-success btn-block">
          <i class="fa-solid fa-ticket"></i>
        COMPRAR
        </a>
      </div>
    </div>

  </div>

<div>
